<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap" rel="stylesheet">
    <style>
      body{
        background-image: url(https://www.img.in.th/images/292b5b1be077185b9654c7a4635a3f0d.jpg);
        color: white;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
      }

      .detail{
        font-size: 16px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 80%;
        margin-top: 100px;
      }

      .head{
        font-size: 48px;
        text-align: center;
        font-family: 'Luckiest Guy', sans-serif;
      }  

      .num{
        font-size: 48px;
        transform: translateY(10px);
      }

      .menu{
        width: 100px;
        height: 100px;
      }

      .menuBox{
        background-color: rgba(132,132,132,0.62);
        border: none;
        color: white;
        float: left;
        font-size: 28px;
      }

      .select{
        background-color: rgba(0, 0, 0, 0);
      }

      .graph{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .date{
        bottom: 0px;
      }

      .barBox{
        display: inline-block;
        width: 100%;
        height: 35px;
      }

      .bar{
        background-color: gray;
        text-align: right;
        transition: 0.75s;
      }

      #number{
        font-size: 64px;
      }

    </style>
  </head>
<body onload="loadData(4)">
  <div class="container">
      <h2 class="head">DASHBOARD</h2>
      <div calss="row menu">
        <button class="col-4 col-lg-3 menuBox select" onclick="changeData(4)" id="visit">Visitor</button>
        <button class="col-4 col-lg-2 menuBox" onclick="changeData(3)" id="user">User</button>
        <button class="col-4 col-lg-2 menuBox" onclick="changeData(2)" id="scan">Scan</button>
        <button class="col-6 col-lg-2 menuBox" onclick="changeData(0)" id="bounty">Bounty</button>
        <button class="col-6 col-lg-3 menuBox" onclick="changeData(1)" id="qr">Qr Code</button>
      </div>
      
      <div class="detail">
        <h4>= Last Update =</h4><h4 id="update"></h4>
        <h1 id="number"></h1>
        <h4 id="topic">Total</h4><br>
        <div class="graph">
          <div class="row" id="graphBar"> </div>
        </div>
      </div>
  </div>
</body>

<script>

  var topics = ['Bounties', 'Generate QR Codes', 'Scans', 'Users', 'Visitors']
  var dateUpdate = ['29/9', '00:00']
  var total = [1044, 4943, 4947, 660, 27106]
  var listData = [[4, 7, 10, 141, 3462], [0, 0, 0, 19, 317], [0, 0, 0, 14, 157], [0, 38, 0, 28, 426], [14, 75, 15, 13, 438],
                  [101, 12, 77, 15, 351], [0, 4, 0, 3, 148], [9, 2, 43, 1, 100], [0, 10, 5, 0, 194], [148, 970, 1056, 185, 5260],
                  [90, 1395, 1043, 85, 4808], [135, 206, 518, 30, 2233], [132, 526, 487, 30, 1934], [166, 399, 421, 46, 1860], 
                  [70, 79, 110, 7, 688], [36, 91, 82, 9, 460], [103, 195, 241, 7, 808], [12, 52, 55, 4, 298], [15, 36, 29, 0, 212],
                  [6, 121, 96, 1, 343], [3, 34, 26, 1, 209], [9, 64, 39, 6, 365], [41, 627, 597, 15, 2065]
                ];
  var listDate = ['5/9', '6/9', '7/9', '8/9', '9/9', '10/9', '11/9', '12/9', '13/9', '14/9',
                  '15/9', '16/9', '17/9', '18/9', '19/9', '20/9', '21/9', '22/9', '23/9', 
                  '24/9', '25/9', '26-27/9', '28/9'
                ];
  var numList = listData.length;

  function loadData(topic){
    var htmlText = "";
    var maxNum = listData[0][topic];
    for (i = 1; i < numList; i++)
    {
      if (listData[i][topic] > maxNum)
      {
        maxNum = listData[i][topic];
      }
    }

    for (i = numList-1; i >= 0; i--)
    {
      var num = listData[i][topic];
      htmlText += "<div class='col-2 date barDate'>"+listDate[i]+"</div>"
      htmlText += "<div class='col-10 barBox'><div class='bar' style='width: "+parseInt((num*1.0/maxNum)*100)+"%;'>"+num+"</div></div>"
    }

    document.getElementById("update").innerHTML = "Date: "+dateUpdate[0]+" Time: "+dateUpdate[1]+"";
    document.getElementById("graphBar").innerHTML = htmlText;
    document.getElementById("number").innerText = total[topic];
  }

  function changeData(topic){
    var maxNum = listData[0][topic];
    for (i = 1; i < numList; i++)
    {
      if (listData[i][topic] > maxNum)
      {
        maxNum = listData[i][topic];
      }
    }

    for (i = numList-1; i >= 0; i--)
    {
      var num = listData[i][topic];
      document.getElementsByClassName("bar")[numList-1-i].innerHTML = num;
      document.getElementsByClassName("barDate")[numList-1-i].innerHTML = listDate[i];
      document.getElementsByClassName("bar")[numList-1-i].style = "width: "+parseInt((num*1.0/maxNum)*100)+"%;"
    }

    document.getElementById("number").innerText = total[topic];
    document.getElementById("topic").innerText = "Total "+topics[topic];

    var listId = ['bounty', 'qr', 'scan', 'user', 'visit'];

    for (i = 0; i < 5; i++)
    {
      document.getElementById(listId[i]).classList.remove("select");
    }

    document.getElementById(listId[topic]).className += " select";
  }
</script>
</html>
