<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap" rel="stylesheet">
    <style>
      body{
        background-image: url(https://www.img.in.th/images/292b5b1be077185b9654c7a4635a3f0d.jpg);
        color: white;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
      }

      .detail{
        font-size: 16px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 80%;
        margin-top: 100px;
      }

      .head{
        font-size: 48px;
        text-align: center;
        font-family: 'Luckiest Guy', sans-serif;
      }  

      .num{
        font-size: 48px;
        transform: translateY(10px);
      }

      .menu{
        width: 100px;
        height: 100px;
      }

      .menuBox{
        background-color: rgba(132,132,132,0.62);
        border: none;
        color: white;
        float: left;
        font-size: 28px;
      }

      .select{
        background-color: none;
      }

      .graph{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .date{
        bottom: 0px;
      }

      .barBox{
        display: inline-block;
        width: 100%;
        height: 35px;
      }

      .bar{
        background-color: gray;
        text-align: right;
      }

      #number{
        font-size: 64px;
      }

    </style>
  </head>
<body onload="changeData(4)">
  <div class="container">
      <h2 class="head">DASHBOARD</h2>
      <div calss="row menu">
        <button class="col-4 col-lg-3 menuBox" onclick="changeData(4)" id="visit">Visitor</button>
        <button class="col-4 col-lg-2 menuBox" onclick="changeData(3)" id="user">User</button>
        <button class="col-4 col-lg-2 menuBox" onclick="changeData(2)" id="scan">Scan</button>
        <button class="col-6 col-lg-2 menuBox" onclick="changeData(0)" id="bounty">Bounty</button>
        <button class="col-6 col-lg-3 menuBox" onclick="changeData(1)" id="qr">Qr Code</button>
      </div>
      
      <div class="detail">
        <h4>Update Last</h4><h4> Date: 8/9 Time: 00:01</h4>
        <h1 id="number"></h1>
        <h4 id="topic">Total</h4><br>
        <div class="graph">
          <div class="row ">
            
            <div class="col-2 date barDate">0</div>
            <div class="col-10 barBox">
              <div class="bar"></div>
            </div>

            <div class="col-2 date barDate">0</div>
            <div class="col-10 barBox">
              <div class="bar"></div>
            </div>

            <div class="col-2 date barDate">0</div>
            <div class="col-10 barBox">
              <div class="bar"></div>
            </div>
            
          </div>
        </div>
      </div>
  </div>
</body>

<script>

  function changeData(topic){

    var topics = ['Bounties', 'Generate QR Codes', 'Scans', 'Users', 'Visitors']
    var total = [4,7, 10, 174, 3936]
    var listData = [[4, 7, 10, 141, 3462], [0, 0, 0, 19, 317], [0, 0, 0, 14, 157]];
    var listDate = ['5/9', '6/9', '7/9'];
    var numList = listData.length;

    var maxNum = listData[0][topic];
    for (i = 1; i < numList; i++)
    {
      if (listData[i][topic]  > maxNum)
      {
        maxNum = listData[i][topic];
      }
    }

    for (i = 0; i < numList; i++)
    {
      var num = listData[i][topic];
      document.getElementsByClassName("bar")[i].innerHTML = num;
      document.getElementsByClassName("barDate")[i].innerHTML = listDate[i];
      document.getElementsByClassName("bar")[i].style = "width: "+parseInt((num*1.0/total[topic])*100)+"%;"
    }

    document.getElementById("number").innerText = total[topic];
    document.getElementById("topic").innerText = "Total "+topics[topic];

  }
</script>
</html>